HTTP_ADDR=:8080
BROKER=paper

KITE_API_KEY=
KITE_API_SECRET=
KITE_ACCESS_TOKEN=

TRADE_STORE_PATH=data
POLL_SECONDS=5

DEFAULT_PRODUCT=MIS
DEFAULT_QUANTITY=1
DEFAULT_MARKET_PROTECTION=-1
DEFAULT_STOP_LOSS_POINTS=10
DEFAULT_TARGET_POINTS=10
DEFAULT_SL_LIMIT_OFFSET=0.5
